footer {
	width: 100%;
	border-top: 1px solid var(--col1);
}

footer ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer ul li {
	list-style: none;
	padding: 10px 15px;
}

footer ul li a {
	color: black;
	text-decoration: none;
	font-family: "Lekton";
	font-weight: normal;
	font-style: normal;
}

footer ul li:hover > a {
	color: var(--col1);
}
